.bg1 {
    background-image: url(./img/01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg2 {
    background-color: #1B2121;
}

.bg3 {
    background-color: #323232;
}